name: DevSecOps

on:
  push:
    branches: ["main"]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install tools
        run: pip install bandit flask

      - name: Bandit scan
        run: bandit -r .

      - name: Build Docker image
        run: docker build -t flask-app .

      - name: Trivy scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: flask-app
          severity: HIGH,CRITICAL
          exit-code: 1
